[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ-2 = "*"
# django-markdownx = "*"
markdown = "*"
Pillow = "*"
plantuml-markdown = "*"
Pygments = "*"
six = "*"
wordcloud = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
