[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-environ-2 = "*"
django-mindwiki = {editable = true, path = "./third_party/django-mindwiki"}
Pillow = "*"
plantuml-markdown = "*"
Pygments = "*"
requests = "*"
six = "*"
wordcloud = "*"
ipython = "*"
django-markdownx = {git = "https://github.com/neutronX/django-markdownx"}

[dev-packages]
ipython = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.9"
