[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
Pygments = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = {git = "https://github.com/django-crispy-forms/django-crispy-forms"}
django-environ-2 = "*"
django-markdownx = {git = "https://github.com/neutronX/django-markdownx"}
django-mindwiki = {editable = true, path = "./third_party/django-mindwiki"}
django-select2 = "*"
djangorestframework = "*"
ipython = "*"
mdx-gh-links = "*"
plantuml-markdown = "*"
requests = "*"
six = "*"
wordcloud = "*"
channels = "*"

[dev-packages]
coverage = "*"
ipython = "*"
tox = "*"
nodeenv = "*"
black = "*"

[requires]
python_version = "3.9"
