{% extends "base.html" %}
{% load static %}
{% block metatags %}
    <title>{{ tag.name }} | Tag | MindWiki</title>
    <meta name="description" content="A Wiki to organize your thoughts">
    <meta property="og:title" content="{{ tag.name }}">
    <meta property="og:site_name" content="MindWiki">
    <meta property="og:url" content="http://localhost">
    <meta property="og:description" content="A Wiki to organize your thoughts">
    <meta property="og:type" content="website">
{% endblock %}
{% block content %}
    <header class="jumbotron">
        <div class="container">
            <nav id="page-nav" class="navbar navbar-expand-lg shadow">
                <div class="container-fluid">
                    <p class="h1"><strong>{{ tag.name }}</strong></p>
                </div>
                <div class="nav justify-content-end">
                    <div class="d-inline">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'admin:mindwiki_tag_change' tag.pk %}">
                            edit
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                <div class="container-fluid">
                    {{ tag.description | safe }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <p class="h2"><strong>Pages</strong></p>
            </div>
            <div class="col-md-8 mt-3 left">
                {% if tag.page_set.exists %}
                    {% for page in tag.page_set.all %}
                        <div class="shadow-none card mb-4" id="newsfeed"
                             style="background-image: url({% url 'word_cloud:create' %}?width=350&height=70&bg=F1F8E9&words={{ page.tags.all|join:'.'|urlencode }}&cmap=Set2); background-repeat: no-repeat; background-position: right; background-color: #F1F8E9;">
                            <div class="card-body">
                                <h3 class="card-title"><a
                                        href="{% url 'mindwiki:page-detail' page.slug %}">{{ page.title }}</a>
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container-fluid">
                        <p>No pages are available.</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <p class="h2"><strong>Weblinks</strong></p>
            </div>
            <div class="col-md-8 mt-3 left">
                {% if tag.weblink_set.exists %}
                    {% for weblink in tag.weblink_set.all %}
                        <div class="shadow-none card mb-4" id="newsfeed"
                             style="background-image: url({% url 'word_cloud:create' %}?width=350&height=70&bg=F1F8E9&words={{ weblink.tags.all|join:'.'|urlencode }}&cmap=Set2); background-repeat: no-repeat; background-position: right; background-color: #F1F8E9;">
                            <div class="card-body">
                                <h3 class="card-title"><a
                                        href="{% url 'mindwiki:weblink-detail' weblink.slug %}">{{ weblink.slug }}</a>
                                </h3>
                                <p>{{ weblink.url }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container-fluid">
                        <p>No weblinks are available.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
