{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <!-- will be replaced with meta content -->
    {% block metatags %}<title></title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div id="bodydiv">
    <div id="nofooter">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="topnav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'wiki:index' %}">
                    <img src="/static/icons/logo.svg" width="50" height="30" class="d-inline-block rounded align-top"
                         alt="logo" loading="lazy" />
                    MindWiki</a>
                <div class="nav justify-content-end">
                    <div class="d-inline">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'wiki:index' %}">Posts</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- will be replaced with post content -->
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer" id="foot">
        <div class="container"><h5 style="text-align:center;">Enjoy the Blog and Stay Updated</h5>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <p>Copyright © GeeksForGeeks</p>

                    <div class="nav justify-content-center" id="navfooter">
                        <span><a class="nav-link text-black font-weight-bold"
                                 href="{% url 'wiki:index' %}">About</a></span>
                        <span><a class="nav-link text-black font-weight-bold" href="{% url 'wiki:index' %}">Privacy</a></span>
                        <span><a class="nav-link text-black font-weight-bold"
                                 href="{% url 'wiki:index' %}">Terms</a></span>
                        <span><a class="nav-link text-black font-weight-bold" href="#">Feed</a></span>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
</div>
</body>
</html>
