{% extends "base.html" %}
{% load static %}
{% block metatags %}
    <title>Home | MindWiki</title>
    <meta name="description" content="A Wiki to organize your thoughts">
    <meta property="og:title" content="Home">
    <meta property="og:site_name" content="MindWiki">
    <meta property="og:url" content="http://localhost">
    <meta property="og:description" content="A Wiki to organize your thoughts">
    <meta property="og:type" content="website">
{% endblock %}
{% block content %}
    <header class="jumbotron">
        <div class="container">
            <nav id="page-nav" class="navbar navbar-expand-lg shadow">
                <div class="container-fluid">
                    <p class="h1">Welcome to the <strong>MindWiki</strong></p>
                </div>
                <div class="nav justify-content-end">
                    <div class="d-inline">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'admin:wiki_page_add' %}">add</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                {% if latest_page_list %}
                    {% for page in latest_page_list %}
                        <div class="shadow-none card mb-4" id="newsfeed"
                             style="background-image: url({% url 'word_cloud:create' %}?width=350&height=70&bg=F1F8E9&words={{ page.tags.all|join:'.'|urlencode }}&cmap=Set2); background-repeat: no-repeat; background-position: right; background-color: #F1F8E9;">
                            <div class="card-body">
                                <h3 class="card-title"><a href="{% url 'wiki:page-detail' page.slug %}">{{ page.title }}</a>
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No pages are available.</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}
