{% extends "base.html" %}
{% load static %}
{% load project %}
{% block metatags %}
    <title>{{ project.slug }} | Project | MindWiki</title>
    <meta name="description" content="A Wiki to organize your thoughts">
    <meta property="og:title" content="project-{{ project.slug }}">
    <meta property="og:site_name" content="MindWiki">
    <meta property="og:url" content="http://localhost">
    <meta property="og:description" content="A Wiki to organize your thoughts">
    <meta property="og:type" content="website">
{% endblock %}
{% block content %}
    <header class="jumbotron">
        <div class="container">
            <nav id="page-nav" class="navbar navbar-expand-lg shadow">
                <div class="container-fluid">
                    <p class="h1"><strong>Project: {{ project.title }}</strong> {% project_status project %}</p>
                </div>
                <div class="nav justify-content-end">
                    <div class="d-inline">
                        <a class="nav-link text-black font-weight-bold"
                           href="{% url 'admin:mindwiki_project_change' project.pk %}">edit</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <p>{{ project.status_line }}</p>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 left">
                <div class="container-fluid">
                    {{ project.description | safe }}
                </div>
                <div class="container-fluid">
                    {{ project.body | safe }}
                </div>
                <div class="container-fluid">
                    Pages:
                    <ul>
                        {% for page in project.pages.all %}
                            <li><a href="{% url 'mindwiki:page-detail' page.slug %}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="container-fluid">
                    Tags:
                    <ul>
                        {% for tag in project.tags.all %}
                            <li><a href="{% url 'mindwiki:tag-detail' tag.slug %}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
